{{> navbar}}

<section>
  <div class="container">
    <h2>檢測結果:</h2>
    <p>您目前的英語文法程度為{{plan.level}}級</p>
    <br>
    <h2>學習建議:</h2>
    <br>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link fs-5 active" id="nav-standard-tab" data-bs-toggle="tab" data-bs-target="#nav-standard" type="button" role="tab" aria-controls="nav-standard" aria-selected="true">標準版</button>
        <button class="nav-link fs-5" id="nav-lite-tab" data-bs-toggle="tab" data-bs-target="#nav-lite" type="button" role="tab" aria-controls="nav-lite" aria-selected="false">輕量版</button>
        
      </div>
    </nav>
    <div class="tab-content mt-2" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-standard" role="tabpanel" aria-labelledby="nav-standard-tab">
        <p>每周上課時數：4小時</p>
        <p>文法學習週數：{{plan.grammarWeek}}週 ({{grammarHour}}小時)</p>
        <p>總複習＆實戰：{{plan.reviewWeek}}週 ({{reviewHour}}小時)</p>
        <p>累計上課週數：{{totalWeek}}週 ({{totalHour}}小時)</p>
        <p>每週學習單字：{{plan.wordPerWeek}}字</p>
        <p>每週克漏篇數：{{plan.missingWordPerWeek}}篇</p>
        <p>每週閱讀篇數：{{plan.readingPerWeek}}篇</p>
      </div>
      <div class="tab-pane fade" id="nav-lite" role="tabpanel" aria-labelledby="nav-lite-tab">
        <p>每周上課時數：2小時</p>
        <p>文法學習週數：{{grammarWeek2}}週 ({{grammarHour}}小時)</p>
        <p>總複習＆實戰：{{reviewWeek2}}週 ({{reviewHour}}小時)</p>
        <p>累計上課週數：{{totalWeek2}}週 ({{totalHour}}小時)</p>
        <p>每週學習單字：{{wordPerWeek2}}</p>
        <p>每週克漏篇數：{{plan.missingWordPerWeek}}篇</p>
        <p>每週閱讀篇數：{{plan.readingPerWeek}}篇</p>
      </div>
    </div>
    <hr>
    <form action="/schedule" method="post">
      <h3 class="mb-4 text-decoration-underline fw-bold">將由AI為您安排最適合的課程!</h3>
      <div class="mb-3">
        <label for="startDateInput" class="form-label">您的學習起始日:</label>
        <input id="startDateInput" type="date" class="form-control w-50" name="startDate" value="{{createdAt}}">
      </div>
      
      <div class="mb-3">
        <label for="versionSelect" class="form-label">您要選擇的版本:</label>
        <select id="versionSelect" class="form-select w-50" name="version">
          <option value="standard">標準版</option>
          <option value="lite">輕量版</option>
        </select>
      </div>
      <input type="text" name="level" value="{{plan.level}}" hidden>
      <button type="button" class="btn btn-success btn-lg mt-2 mb-2">開始規劃</button>
    </form>
  </div>
</section>